<!-- Not Found Error -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 | smbh </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="row container col col-lg-12 col-md-12 col-sm-12">
        <div class="col col-lg-5 col-md-5 col-sm-12">
            <video width="auto" height="auto" autoplay muted loop>
                <source src="error_404.mp4" type="video/mp4">
            </video>
        </div>
        
        <div class="col col-lg-6 col-md-6 col-sm-12" style="padding-top: 3%;">
            <h1 style='padding-top: 50px;font-size: 12em;'>404</h1>
            <hr style="font-weight: bold;" />
            <p style="font-size: 1.6em;font-weight: bold;">
                The Page You're Looking For Might Have Been Removed, Had Its Name Changed, Or Is Temporarily Unavailable.
            </p>
            <p style="font-size: 1.6em;font-weight: bold;">
                Check The Url Or Go To
                <a href="http://www.SmbHosseini.ir">Main Page</a> And See If You Can Locate What You Are Looking For. Good Luck
            </p>
        </div>
    </div>
</body>

</html>