<div class="row jumbotron">

  {% if LANGUAGE_CODE == 'en' %}

  <!-- Post description -->
  <div class="col-lg-7">

    <!-- Post title -->
    <h3 class="font-weight-bold mb-3">
      <!-- <a href="{% url 'Blog:post' slug=post.slug %}"> -->
      <a href="{{ post.get_absolute_url }}">
        <strong>{{ post.title }}</strong>
      </a>
    </h3>
    <!-- Excerpt -->
    <div style="text-align: left;">
      <p>
        {{ post.content | safe | truncatechars:255 | linebreaks }}
      </p>
    </div>
    <!-- Post data -->
    <p style="text-align: right;">By
      <a>
        <strong> {{ post.author.get_full_name }} </strong>
      </a>, {{ post.publish }}</p>
    <!-- Read more button -->
    <!-- <a class="btn btn-indigo btn-md" href="{% url 'Blog:post' slug=post.slug %}">Read more</a> -->
    <a class="btn btn-indigo btn-md" href="{{ post.get_absolute_url }}">Read more</a>

    <!-- Tags -->
    <div class="row">
      {% for tag in post.tags.names %}
      <a style="color: royalblue;">
        <h6 class="font-weight-bold mb-3">

          <i class="pr-3">
            #{{ tag }}
          </i>

        </h6>
      </a>
      {% endfor %}
    </div>
  </div>

  <!-- Post img -->
  <div class="col-lg-5">

    <!-- Featured image -->
    {% if post.image %}
    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
      <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}" />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    {% endif %}

  </div>

  {% else %}

  <!-- Post img -->
  <div class="col-lg-5">

    <!-- Featured image -->
    {% if post.image %}
    <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
      <img class="img-fluid" src="{{ post.image.url }}" alt="{{ post.title }}" />
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    {% endif %}
  </div>

  <!-- Post description -->
  <div class="col-lg-7">

    <!-- Post title -->
    <h3 class="font-weight-bold mb-3">
      <a href="{% url 'Blog:post' slug=post.slug %}">
        <strong>{{ post.title }}</strong>
      </a>
    </h3>
    <!-- Excerpt -->
    <div style="text-align: right;">
      <p>
        {{ post.content | safe | truncatechars:512 }}
      </p>
    </div>
    <!-- Post data -->
    <p style="text-align: left;">By
      <a>
        <strong> {{ post.author.get_full_name }} </strong>
      </a>, {{ post.publish }}</p>
    <!-- Read more button -->
    <a class="btn btn-indigo btn-md" href="{% url 'Blog:post' slug=post.slug %}">Read more</a>

    <!-- Tags -->
    <div class="row">
      {% for tag in post.tags.names %}
      <a style="color: royalblue;">
        <h6 class="font-weight-bold mb-3">

          <i class="pr-3">
            #{{ tag }}
          </i>

        </h6>
      </a>
      {% endfor %}
    </div>
  </div>

  {% endif %}


</div>


<hr class="my-5" style="opacity: 0;">
