 {% extends "blog.html" %} {% load static %} {% load i18n %} {% block title %} {{ post.title }} | smbh {% endblock title %}
{% block PostList %}


<!-- Post description -->
<div class="container jumbotron" id="PostDetail" style="margin-top: 60px;">


  <!-- image -->
  <div class="overlay rounded z-depth-2 mb-lg-0 mb-4 header_image_container">
    <img class="img-fluid rounded header_image" src="{{ post.image.url }}" alt="{{ post.title }}" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>


  <br/>
  <br/>
  <!-- Post title -->
  <h3 class="font-weight-bold mb-3">
    <strong>{{ post.title }}</strong>
  </h3>
  <!-- Excerpt -->
  {% if LANGUAGE_CODE == 'en' %}
  <div style="text-align: left;">
    <p>
      {{ post.content | safe }}
    </p>
  </div>
  <!-- Post footer -->
  <hr/>
  <p style="text-align: center;">By
    <a>
      <strong> {{ post.author }} </strong>
    </a>, {{ post.publish }}</p>
  {% else %}
  <div style="text-align: right;">
    <p>
      {{ post.content | safe }}
    </p>
  </div>
  <!-- Post data -->
  <hr/>
  <p style="text-align: center;">By
    <a>
      <strong> {{ post.author }} </strong>
    </a> <br />{{ post.publish }}</p>
  {% endif %}

  <!-- Tags -->
  <div class="row">
    {% for tag in post.tags.names %}
    <a style="color: royalblue;">
      <h6 class="font-weight-bold mb-3">

        <i class="pr-3">
          #{{ tag }}
        </i>

      </h6>
    </a>
    {% endfor %}
  </div>


</div>



{% endblock PostList %}
