 {% extends "blog.html" %} {% load static %} {% load i18n %} {% block title %} {{ Post.title }} | SMBH {% endblock title %}
 {% load l10n %} {% load urlify %}
{% block PostList %}


<!-- Post description -->
<div class="container jumbotron" id="PostDetail" style="margin-top: 60px;">


  <!-- image -->
  <div class="overlay rounded z-depth-2 mb-lg-0 mb-4">
    <img class="img-fluid" src="{{ Post.image.url }}" alt="{{ Post.title }}" />
    <a>
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>


  <br/>
  <br/>
  <!-- Post title -->
  <h3 class="font-weight-bold mb-3">
    <strong>{{ Post.title }}</strong>
  </h3>
  <!-- Excerpt -->
  {% if LANGUAGE_CODE == 'en' %}
  <div style="text-align: left;">
    <p>
      {{ Post.content | safe }}
    </p>
  </div>
  <!-- Post footer -->
  <hr/>
  <p style="text-align: center;">By
    <a>
      <strong> {{ Post.author.get_full_name }} </strong>
    </a>, {{ Post.publish | localize}}</p>
  {% else %}
  <div style="text-align: right;">
    <p>
      {{ Post.content | safe }}
    </p>
  </div>
  <!-- Post data -->
  <hr/>
  <p style="text-align: center;">By
    <a>
      <strong> {{ Post.author.get_full_name }} </strong>
    </a> <br />{{ Post.publish | localize }}</p>
  {% endif %}

  <!-- Tags -->
  <div class="row">
    {% for tag in Post.tags.names %}
    <a style="color: royalblue;">
      <h6 class="font-weight-bold mb-3">

        <i class="pr-3">
          #{{ tag }}
        </i>

      </h6>
    </a>
    {% endfor %}
  </div>




  <!-- Share -->
  <span>Share : </span>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
  Facebook
  </a>

  <a href="https://twitter.com/home?status=I'{{ Post.content | safe | truncatechars:80 | urlify }}%20{{ request.build_absolute_uri }}">
  Twitter
  </a>

  <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>Google+</a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ Post.title }}&summary={{ Post.content | safe | truncatechars:80 | urlify }}&source={{ request.build_absolute_uri }}">
  Linkedin
  </a>

  <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ Post.content | safe | truncatechars:80 | urlify }}">Reddit</a>



</div>



{% endblock PostList %}
