{% extends "base_smbh.html" %} {% block title %} Contact Me | smbh {% endblock title %} {% load static %} {% load i18n %}
{% load widget_tweaks %} {% block style %}

<!-- Customize -->
<link rel="stylesheet" href="{% static 'css/contact.css' %}" /> {% endblock style %} {% block script %}

<!-- Customize -->
<script src="{% static 'js/contact.js' %}"></script>

{% endblock script %} {% block content %}


<div class="gallery-parallax Image-Container" id="Contact-image">

  <!-- NAVBAR -->
  <!-- NAVBAR -->
  <div class="container" id="NavContainer">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        {% comment %} Brand {% endcomment %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link waves-light" href="{% url 'App:home' %}">{% trans 'Home' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" href="#Services">{% trans 'Services' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" href="{% url 'Blog:blog' %}">{% trans 'Blog' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" href="{% url 'App:portfolio' %}">{% trans 'Portfolio' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light active" href="{% url 'App:contact' %}">{% trans 'Contact' %}</a>
            </li>
          </ul>

          {% comment %} <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> {% endcomment %}


        </div>

        <strong>
          <a class="navbar-brand mr-auto" href="{% url 'App:home' %}">SMB
            <span style="color:royalblue;">H</span>
          </a>
        </strong>

      </nav>
    </div>


  <!-- Contact -->
  <section class="my-5" id="contact">


    <!-- Form row -->
    <div class="row">

      <!-- Form container -->
      <div class="col-lg-6 mb-lg-0 mb-4">

        <!-- Form  -->
        <form class="card" id="contact-form" method="POST">{% csrf_token %}
          <div class="card-body">
            <!-- Header -->
            <div class="form-header accent-1">
              <h3 class="mt-2">
                <i class="material-icons md-24 mt-4 blue-text">
                  mail_outline
                </i> Write to Me:</h3>
            </div>
            <p class="dark-grey-text">We'll write rarely, but only the best content.</p>

            <!-- Messages -->
            {% if messages %}
            <ul class="messages alert alert-info">
              {% for message in messages %}
              <li id="message_{{ forloop.counter }}" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
              </li>
              {% endfor %}
            </ul>
            {% endif %}

            <!-- Errors -->
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
              {% for err in form.errors %} {{ err }} {% endfor %}
            </div>
            {% endif %}
            <!-- Form fields -->
            {% for field in form %}
            <div class="form-group">
              <!-- {{ field.label_tag }}  -->
              {% if form.is_bound %} {% if field.errors %} {% render_field field class="form-control is-invalid" %} {% for error in field.errors
              %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %} {% else %} {% render_field field class="form-control is-valid" %} {% endif %} {% else %} {% render_field field
              class="form-control" placeholder=field.label autocomplete='off' %} {% endif %} {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
            {% endfor %}

            <div class="text-center">
              <button class="btn btn-blue" type="submit">Send</button>
            </div>
          </div>
        </form>


      </div>


      <!-- Map container -->
      <div class="col-lg-6">

        <!-- Google map-->
        <div id="Map" class="rounded z-depth-1-half map-container" style="height: 400px">

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d207372.70303802798!2d51.20973585327658!3d35.69673295292471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f8e00491ff3dcd9%3A0xf0b3697c567024bc!2sTehran%2C+Tehran+Province%2C+Iran!5e0!3m2!1sen!2s!4v1526582438486"
            width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>
        <br>
        <!-- Buttons-->
        <div class="row text-center" id="Map-btn">
          <div class="col-md-4">
            <a class="btn-floating accent-1 rounded-circle">
              <i class="material-icons md-48 mt-4 blue-text">
                location_on
              </i>
            </a>
            <p class="mb-md-0">IR Iran, Tehran</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating accent-1 rounded-circle">
              <i class="material-icons md-36 mt-4 blue-text">
                perm_phone_msg
              </i>
            </a>
            <p></p>
            <p class="mb-md-0">9:00 - 21:00</p>
          </div>
          <div class="col-md-4">
            <a class="btn-floating accent-1 rounded-circle">
              <i class="material-icons md-36 mt-4 blue-text">
                mail_outline
              </i>
            </a>
            <p class="mb-0">xsmbhx@yahoo.com</p>
          </div>
        </div>

      </div>


    </div>
    <!-- Grid row -->

  </section>


</div>

<!-- Footer -->
{% block footer %}
<div class="page-footer font-small unique-color-dark pt-0" id="footer">
  <div class="footer-copyright py-3 text-center" style="color : #969696;">
    <span>© <span class="footer_logo">SMB </span>
      <span style="color:royalblue;">H</span>
      All rights reserved.
    </span>
  </div>
</div>
{% endblock footer %}

{% endblock content %}
