{% extends "base.html" %} {% block title %} Home | {{ block.super }} {% endblock title %} {% load static %} {% load i18n %}

<!-- Style Block -->
{% block style %}

<!-- Owl Carousel -->
<link rel="stylesheet" href="{% static 'Packages/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'Packages/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css' %}" />

<!-- Customize -->
<link rel="stylesheet" href="{% static 'css/home.css' %}" /> {% endblock style %}


<!-- Script Block -->
{% block script %}

<!-- Owl Carousel -->
<script src="{% static 'Packages/OwlCarousel2-2.3.4/dist/owl.carousel.min.js' %}"></script>

<!-- Customize -->
<script src="{% static 'js/home.js' %}"></script>

{% endblock script %} {% block header %}

<!-- Intro -->
<div>

  <!-- NAVBAR -->
  <div class="container" id="NavContainer">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

      {% comment %} Brand {% endcomment %}

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link waves-light active" href="{% url 'App:home' %}">{% trans 'Home' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="#Services">{% trans 'Services' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="{% url 'Blog:blog' %}">{% trans 'Blog' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="{% url 'App:profile' %}">{% trans 'Profile' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" href="{% url 'App:contact' %}">{% trans 'Contact' %}</a>
          </li>
          <!-- Authentication -->
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'Users:detail' request.user.username  %}">{% trans "My Profile" %}</a>
            </li>

            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            </li>

          {% else %}
            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>

            <li class="nav-item">
              {# URL provided by django-allauth/account/urls.py #}
              <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>

          {% endif %}

        </ul>

        {% comment %} <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}


      </div>

      <strong>
        <a class="navbar-brand mr-auto" href="{% url 'App:home' %}">SMB
          <span style="color:royalblue;">H</span>
        </a>
      </strong>

    </nav>
  </div>


  <video class="gallery-parallax Image-Container" autoplay muted loop id="intro-video">
    <!-- <source src="../../media/Site/Videos/coding-scenes-background.mp4" type="video/mp4" /> -->
    <source src="{% static 'videos/coding-scenes-background.mp4' %}" type="video/mp4" />
  </video>



  <!--title content-->
  <div class="Transition" id="intro-content">
    <div id="name">
      <strong>
        <p>Seyed Mohammad&nbsp;Bagher Hosseini</p>
      </strong>
    </div>

    <div id="def">
      <p>|&nbsp;Computer Software Engineer&nbsp;|</p>
    </div>
    <div id="Btn-AboutMe">
      <a class="btn btn-info btn-sm rounded" href="#AboutMe">{% trans 'About Me' %}</a>
    </div>
    <br/>
  </div>
  <div class="Image-Bottom-Center social">
    <div class="container">
      <ul>

        <a href="https://github.com/smb-h" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/smb-h-b64068155/" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://twitter.com/smb_h" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/smb__h/" target="_blank">
          <i class="fab fa-instagram"></i>
        </a>

      </ul>
    </div>
  </div>
</div>

{% endblock header %}



<!-- Content -->

{% block content %}


<!-- About Me -->
<section class="jumbotron" id="AboutMe">
  <div>
    <div class="wow fadeIn" id="AboutMe-Head">
      <h1>{% trans 'About Me' %}</h1>
      <p>{% blocktrans %} Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
        ut laoreet dolore magna aliquam erat volutpat{% endblocktrans %}
      </p>
    </div>
    <div class="row" id="AboutMe-Items-Container">
      <div class="col-sm AboutMe-Item wow fadeInUp">
        <h1>
          <i class="material-icons md-80" style="color: red;">bug_report</i>
        </h1>
        <h2>{% trans 'Experienced in' %}</h2>
        <p>Python, Django, MVT
          <br/>JQuery, GUI, UI/UX
          <br/>SQL</p>
      </div>
      <div class="col-sm AboutMe-Item wow fadeInUp" data-wow-delay="0.3s">
        <h1>
          <i class="material-icons md-80">info_outline</i>
        </h1>
        <h2>{% trans 'Familiar with' %}</h2>
        <p>Restful Api, API's
          <br/>MVC, C#, C, C++
          <br/>JS, ReactJs, PostgreSQL
          <br/>Git, Bash, Linux, NginX
          <br/>Design, Material</p>
      </div>
      <div class="col-sm AboutMe-Item wow fadeInUp" data-wow-delay="0.6s">
        <h1>
          <i class="material-icons md-80" style="color: rgb(75, 15, 15);">free_breakfast</i>
        </h1>
        <h2>{% trans 'Fun' %}</h2>
        <p>Intrested in AI's
          <br/>Robotic, MicroControllers
          <br/>IoT, Security, Technology, ...
          <br/>OpenSource &amp; FreeSoftware Community</p>
      </div>
    </div>


  </div>

</section>

<!-- Blog -->
<div class="card-deck" id="Blog">
  <!-- Latest Posts -->
  <div class="row col col-lg-12 col-md-12 col-sm-12">
    {% for post in LatestPost %} {% include "home_latest_post.html" %} {% endfor %}
  </div>

</div>



<!-- Services Carousel -->
<div class="gallery-parallax" id="Services">
  <div id="Services-Head">
    <p>{% trans 'SERVICES' %}</p>
    <h1> {% blocktrans %} What Can I Do For You? {% endblocktrans %}
    </h1>
  </div>
  <div class="owl-carousel owl-theme">
    <div class="Services-Item">
      <h1>
        <i class="material-icons md-80">devices_other</i>
      </h1>
      <h2>{% trans 'Develop' %}</h2>
      <p> {% blocktrans %} WebSite &amp; Application {% endblocktrans %} </p>
    </div>
    <div class="Services-Item">
      <h1>
        <i class="material-icons md-80">all_inclusive</i>
      </h1>
      <h2>{% trans 'Design' %}</h2>
      <p> {% blocktrans %} UI, UX, Graphic, Illustration {% endblocktrans %}</p>
    </div>
    <div class="Services-Item">
      <h1>
        <i class="material-icons md-80">public</i>
      </h1>
      <h2>{% trans 'Research' %}</h2>
      <p> {% blocktrans %} Technology, System, Security {% endblocktrans %} </p>
    </div>
    <div class="Services-Item">
      <h1>
        <i class="material-icons md-80">lightbulb_outline</i>
      </h1>
      <h2>{% trans 'Consultancy' %}</h2>
      <p> {% blocktrans %} E Commerce {% endblocktrans %} </p>
    </div>
    <div class="Services-Item">
      <h1>
        <i class="material-icons md-80">touch_app</i>
      </h1>
      <h2>{% trans 'Branding' %}</h2>
      <p></p>
    </div>
    <div class="Services-Item">
      <h1>
        <i class="material-icons md-80">timeline</i>
      </h1>
      <h2>{% trans 'Marketing' %}</h2>
      <p></p>
    </div>
  </div>
</div>


<!-- Footer -->
{% block footer %}
<div class="page-footer font-small unique-color-dark pt-0" id="footer">
  <div class="footer-copyright py-3 text-center" style="color : #969696;">
    <span>© SMB
      <span style="color:royalblue;">H</span>
      All rights reserved.
    </span>
    <span> | </span>
    <span>Powerd by
      <a href="http://djangoproject.com" target="_blank">Django</a>
    </span>
  </div>
</div>

{% endblock footer %} {% endblock content %}
