<div class="col col-lg-4 col-md-4 col-sm-12">
  <div class="card mb-4 Transition wow fadeInUp" data-wow-delay="0.1s">
    <!-- Featured image -->
    {% if post.Image %}
    <div class="Image-Container view overlay">
      <img class="card-img-top Transition" src="{{ post.Image.url }}" alt="{{ post.title }}" />
      <!-- Wave Mask -->
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>

    </div>
    {% endif %}

    <div class="card-body">
      <h3 class="card-title">
        <strong>{{ post.title }}</strong>
      </h3>
      {% if post.subTitle %}
      <h6>{{ post.subTitle }}</h6>
      {% endif %}
      <p class="card-text" style="text-align: left;">{{ post.content | safe | truncatechars:320 }}</p>
      {% comment %}
      <div style="float: right;">
        <!-- Read more button -->
        <a class="btn btn-indigo btn-md" href="{% post.get_absolute_url %}">Read more</a>
      </div> {% endcomment %}
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <!-- Post data -->
        <p>
          {% if post.start %}
          <span style="float: left;">{{ post.start }} - {% endif %} {% if post.end %} {{ post.end }} , {% else %} working.. , {% endif %} </span>
          <br /> {% if post.url %}
          <a href='{{ post.url }}' style="text-align: center;"> {{ post.url }} </a>, {% endif %}
          <br />
          <span style="float: right;"> {{ post.updated }} </span>
        </p>
      </small>
    </div>
  </div>
</div>
