/* ======================== Images =============================== */

/* Gallery Parallax */

.gallery-parallax {
    /* position: relative; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    /* z-index: 0; */
}

.Image-Container {
    position: relative;
    text-align: center;
}

/* Positions */

.Image-Center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
}

.Image-Bottom-Center {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* =================================== Navbar =============================== */

nav {
    z-index: 8;
    /* direction: ltr !important; */
}

/* Navbar Brand */

.navbar-brand {
    font-weight: bold;
}

/* Active Navbar */

nav .active {
    /* color: #45eba5 !important; */
    color: royalblue !important;
    font-weight: bold;
    /* text-shadow: 1px 1px 18px rgba(182, 182, 182, 0.78); */
}

/* Navbar Hover event */

.nav-link:hover {
    /* color: #45eba5 !important; */
    color: rgb(255, 154, 71) !important;
}

nav .nav-item a {
    margin-left: 8px;
}

/* Brand */

.navbar-brand:hover {
  color: gold !important;
}

/* =========================== Intro ============================== */

/* =================================== body ===================================== */

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: XKerman;
    /* font-family: IranSansWeb; */
    /* font-family: BRoya; */
}

body {
    /* background-color: #011F3F; */
    background-color: #212834;
}

/* Back To Top Button */

#btp-btn {
    /* display: none; */
    /* opacity: 0; */
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 12;
    font-size: 18px;
    /* border-radius: 50%; */
    float: right;
}

/* Back To Top Button Hover event*/

#btp-btn:hover {
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* Languages Button */

.LB {
    display: block;
    position: fixed;
    z-index: 12;
    float: left;
    top: 40px;
    left: 15px;
    border-radius: 5px;
}

.LB:hover {
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-grad {
    background-image: linear-gradient(to right, #182848 20%, #4b6cb7 100%, #4b6cb7 100%)
}

.btn-grad:hover {
    background-position: right center;
}

/* #FA {

} */

/* #EN {

} */

/* About Me */

#AboutMe {
    position: relative;
    padding: 50px;
    vertical-align: middle;
    margin: 50px;
}

#AboutMe-Head {
    text-align: center;
}

#AboutMe-Head h1,
.AboutMe-Item h1 {
    color: royalblue;
}

.AboutMe-Item {
    margin: auto;
    text-align: center;
}

#AboutMe-Items-Container {
    align-items: center;
}

/* Blog */

#Blog {
    margin: 50px;
    /* opacity: 0; */
}

/* Card Handler */

.card:hover {
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.2);
}


/* ========================== Footer ============================== */

.breadcrumb {
    color: rgb(167, 167, 167);
    background-color: rgb(32, 30, 30);
    margin-bottom: 0px;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb-item {
    position: relative;
    left: 40%;
}

.footer_logo {
  transition: .3s;
}
.footer_logo:hover {
  color: gold !important;
}
/* ========================== utilities ============================== */

/* Fonts */

@font-face {
    font-family: 'XKerman';
    src: url(../fonts/XKerman/XKerman_Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'BRoya';
    src: url(../fonts/BRoya/BRoya.ttf) format('truetype'), url(../fonts/BRoya/BRoya.eot) format('embedded-opentype'), url(../fonts/BRoya/BRoya.woff) format('woff');
}
@font-face {
    font-family: 'IranSansWeb';
    src: url(../fonts/IranSansWeb/IRANSansWeb_Light.ttf) format('truetype'), url(../fonts/IranSansWeb/IRANSansWeb_Light.woff) format('woff');
}



/* Rules for sizing the icon. */

.material-icons.md-80 {
    font-size: 80px;
}

/* Transition */

.Transition,
a {
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

/* Visible */

/* .Visible {
    opacity: 1;
} */
